<mat-card class="card-login mat-elevation-z4">
    <mat-card-title>Consulta Med</mat-card-title>
    <form [formGroup]="loginForm" class="formgroup">
        <mat-form-field>
            <input type="email" matInput name="email" formControlName="email" placeholder="Email">
            <mat-error *ngIf="loginForm.get('email')hasError('email')">
                Por favor digite um E-mail válido!
              </mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <input type="password" matInput name="senha" formControlName="senha" placeholder="Senha">
            <mat-error *ngIf="loginForm.get('senha')hasError('minLength')">
                O campo senha deve conter no mínimo 6 caracteres!
            </mat-error>
        </mat-form-field>

        <div class="button">
            <button  (click)="login()" mat-button>Login</button>
          </div>
    </form>
</mat-card>


