form {
    display: flex;
    flex-wrap: wrap;
}

mat-form-field{
    margin-left: 15px;
}

.div-button {
    display: flex;
    justify-content: center;
}

button {
    margin-right: 15px;
}

.delete_consult {
    margin-top: 10px;
    margin-left: 150px;
}