<mat-card>
  <mat-card-title>Alterar Consulta</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome completo"
        [(ngModel)]="consult.patientsName"
        name="patientsName"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Nascimento"
        [(ngModel)]="consult.patientsBirthday"
        name="patientsBirthday"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="CPF"
        [(ngModel)]="consult.patientsCPF"
        name="patientsCPF"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Número de telefone"
        [(ngModel)]="consult.phoneNumber"
        name="phoneNumber"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="email@gmail.com"
        [(ngModel)]="consult.emailAddress"
        name="emailAddress"
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CEP" [(ngModel)]="consult.CEP" name="CEP" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Endereço"
        [(ngModel)]="consult.address"
        name="address"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Número"
        [(ngModel)]="consult.addressNumber"
        name="addressNumber"
      />
    </mat-form-field>
  </form>

  <div class="div-button">
    <button mat-raised-button color="primary" (click)="updateConsult()">
      Editar
    </button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
  </div>
</mat-card>
